
html, body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Console', monaco, monospace;
    background-color: black;
    color: #01cf01;
    height: 100%;
    text-shadow: #016801 1px 1px;
}

.title {
    align-self: center;
    background-color: black;
    padding: 36px 0;
    margin-top: 24px;
    border: 2px solid #01cf01;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 24px 0 36px 0;
    border: 2px solid #01cf01;
    padding: 12px 0;
}

#rock {
    border: 2px solid #01cf01;
}

#paper {
    border: 2px solid #01cf01;
}

#scissors {
    border: 2px solid #01cf01;
}

.play {
    align-self: center;
    border: 2px solid #01cf01;
    padding: 12px;
    font-size: 16px;
}

.display {
    border: 2px solid #01cf01;
    margin: 24px;
    padding: 12px 0;
}

button {
    color: #01cf01;
    background-color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#footer {
    display: flex;
    margin-top: auto;
    justify-self: flex-end;
    align-self: center;
    font-size: small;
}