
body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Console', monaco, monospace;
    background-color: black;
    color: #01cf01;
}

#title {
    align-self: center;
    background-color: black;
    padding: 36px 0;
    margin-top: 24px;
    border: 2px solid #01cf01;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 60px 0;
    border: 2px solid #01cf01;
    padding: 12px 0;
}

#rock {
    border: 2px solid #01cf01;
}

#paper {
    border: 2px solid #01cf01;
}

#scissors {
    border: 2px solid #01cf01;
}