
html, body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    /*text-shadow: #016801 1px 1px;*/
}

.title {
    align-self: center;
    padding: 36px 0;
    margin-top: 24px;
}

button {
    background: white;
    border: none;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 24px 0 36px 0;
    padding: 12px 0;
}
#rock-button, #paper-button, #scissors-button {
    cursor: pointer;
    height: 200px;
    width: 200px;
}
#paper-button {
    transform: scale(.75);
}
#scissors-button {
    transform: scale(1.5);
}
.play {
    align-self: center;
    border: 2px solid black;
    padding: 12px;
    font-size: 16px;
}

.display {
    border: 2px solid black;
    margin: 24px;
    padding: 12px 0;
    text-align: center;
}
.score-display {
    text-align: center;
    padding: 12px;
    margin-bottom: 12px;
}
#play-button {
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#footer {
    display: flex;
    margin-top: auto;
    padding: 12px;
    justify-self: flex-end;
    align-self: center;
    font-size: small;
}